@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

body {
	margin: 0;
	overflow: hidden;
}

h1, p {
	font-family: 'Domine', serif;
	color: #797d7f;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	max-width: 100%;
}

.container-all {
	width: 100%;
	height: 100%;
	position: relative;
	background: #E0E5EC;
}

.title-container {
	position: absolute;
  background: #E0E5EC;
  width: 50%;
  height: 7%;
  top: 13%;
  border-radius: 5em;
  box-shadow: 9px 9px 15px #0001, -1px -1px 30px #FFFFFF;
}

.title-song {
	font-size: 4vh;
	transition: all 0.5s linear;
}

.first-row {
	position: absolute;
	top: 25%;
	width: 50%;
	height: 25%;
	background-color: #E0E5EC;
	border-radius: 5em;
	z-index: 1;
	transition: 0.8s linear;
	box-shadow: 9px 9px 15px #0001,
	-2px -2px 30px #FFFFFF; 
}

.timer-container {
	position: absolute;
  background: #E0E5EC;
  width: 50%;
  height: 7%;
  top: 56%;
  border-radius: 5em;
  box-shadow: 9px 9px 15px #0001, -1px -1px 30px #FFFFFF;
}

.timer-song {
	position: absolute;
	width: 0%;
	height: 40%;
	background: #797d7f;
	border-radius: 5em;
	left: 5%;
	transition: 0.2s linear;
}

.duration-song {
	font-size: 4vh;
	transition: all 0.5s linear;
}

.button {
	position: absolute;
	cursor: pointer;
	box-shadow: -8px -8px 20px -3px #fff9, 5px 5px 6px -3px #0001;
}

.button:active {
	box-shadow: inset -8px -8px 20px #fff9, inset 5px 5px 6px #0001
}

.previous, .next {
	width: 16%;
	height: 63%;
	border-radius: 100%;
}

.previous {
	left: 15%;
}

.next {
	right: 15%;
}

.play, .pause {
	width: 21%;
	height: 85%;
	border-radius: 100%;
}

.img-play, .img-pause, .img-previous, .img-next, .img-volume {
	width: 55%;
	height: 55%;
}

.hide {
	visibility: hidden;
}


.container-volume {
	position: absolute;
	top: 54%;
	width: 10%;
	height: 10%;
	right: 15%;
}

.button-volume {
	position: absolute;
  width: 50%;
  height: 95%;
  bottom: 0;
  background: #E0E5EC;
  border-radius: 50%;
}

.container-random {
	position: absolute;
	top: 54%;
	width: 10%;
	height: 10%;
	left: 15%;
}

.button-random {
	position: absolute;
  width: 50%;
  height: 95%;
  bottom: 0;
  background: #E0E5EC;
  border-radius: 50%;
}




